footer.main-footer 
    .top-content 
        img.decor(src="./public/images/decor-img.png", alt="")
        .wrapper.content-center 
            a.logo(href="/") 
                img(src="./public/images/white-logo.svg", alt="")
            .list   
                h3 О КОМПАНИИ
                ul
                    li  
                        a(href="") Доставка и оплата одежды
                    li  
                        a(href="") Политика конфиденциальности
                    li  
                        a(href="") Опт
                    li  
                        a(href="") О нас
            .list   
                h3 ЗАКАЗЧИКАМ 
                ul
                    li  
                        a(href="") Личный кабинет
                    li  
                        a(href="") История заказов
                    li  
                        a(href="") Закладки
                    li  
                        a(href="") Возврат товара
                    li  
                        a(href="") Обратная связь
            .social 
                .contacts
                    a(href="tel:+38 068 346 04 75 ") +38 068 346 04 75
                    a(href="tel:+38 066 400 38 14") +38 066 400 38 14
                .networks 
                    a(href="") 
                        i.icon-viber
                    a(href="") 
                        i.icon-twitter
                    a(href="") 
                        i.icon-whatsapp
                    .line 
                    a(href="") 
                        i.icon-email
                    a(href="") 
                        i.icon-facebook
                    a(href="") 
                        i.icon-instagram
    .bottom-content 
        .wrapper.content-center 
            .left-content
                span © 2020 HECTOR Все права защищены  
                .text   
                    a(href="#") Политика конфиденциальности     
                    .line |     
                    a(href="#") Условия продажи
            .right-content  
                span Design and development
                img(src="./public/images/emblem.png", alt="")