.remodal(data-remodal-id="authorization") 
    .close
        i.icon-close(data-remodal-action="close")
    .remodal-box
        ul.tabs-menu
            li.button.is-dark-border(class="is-active" data-id-tab="login") ЛОГИН 
            li.button.is-dark-border( data-id-tab="registration") РЕГИСТРАЦИЯ
        .tab-content.login.is-open
            form.form.login-form
                .form-item
                        .input-wrapper
                            input(type="text" name="email" placeholder="Введите email")
                        .input-wrapper
                            input(type="text" name="password" placeholder="Введите пароль")
                        +Button('ВОЙТИ', 'is-black')
                        a(href="#forgot-password") 
                            span Забыли пароль?
        .tab-content.registration
            form.form.registration-form
                .form-item
                        .input-wrapper
                            input(type="text" name="name" placeholder="Введите имя")
                        .input-wrapper
                            input(type="text" name="text" placeholder="Ваш Город")
                        .input-wrapper
                            input(type="text" name="phone" placeholder="Введите телефон")
                        .input-wrapper
                            input(type="text" name="email" placeholder="Введите email")
                        .input-wrapper
                            input(type="text" name="password" placeholder="Введите пароль")
                        .input-wrapper
                            input(type="text" name="password" placeholder="Подтвердите  пароль")
                        +Button('ЗАРЕГИСТРИРОВАТЬСЯ', 'is-black')
.remodal.forgot-password(data-remodal-id="forgot-password") 
    .close
        i.icon-close(data-remodal-action="close")
    .remodal-box
        h5.text ВОССТАНОВЛЕНИЕ ПАРОЛЯ 
        form.form
            .form-item
                .input-wrapper
                    input(type="text" name="email" placeholder="Введите email")
                    +Button('ВОССТАНОВИТЬ', 'is-black')
.remodal.search(data-remodal-id="search") 
    .remodal-box  
        .search-window 
            i.icon-search 
            input(type="text" placeholder ="Возможно вы ищите:")
            i.icon-close(data-remodal-action="close")
        .wrapper
            - for (var x = 0; x < 12; x++)
                include ./product-item.pug 



