header.main-header.content-center
    .wrapper
        nav 
            ul      
                li 
                    a(href="case-studies.html") КАТАЛОГ
                    i.icon-arrow-bottom
                li 
                    a(href="about-work.html") SALE
                li 
                    a(href="about-us.html") ОПТ
                li 
                    a(href="about-us.html") О НАС
                li 
                    a(href="about-us.html") ОТЗЫВЫ
                li 
                    a(href="about-us.html") ДОСТАВКА И ОПЛАТА
                li 
                    a(href="about-us.html") КОНТАКТЫ
        a(href="/") 
            img(src="./public/images/logo.svg", alt="")
    ul.icons
        li
            a(href="#") 
                i.icon-search
        li
            a(href="#") 
                i.icon-like
        li
            a(href="#") 
                i.icon-backet
        li
            a(href="#authorization") 
                i.icon-account