.header-wrapper
    header.main-header.content-center
        .wrapper
            .catalog-menu
                .title
                    | КАТАЛОГ
                    i.icon-arrow-bottom
                .dropdown
                    ul.buttons
                        li
                            a.button.is-transparent(href="#") Мужская одежда
                        li
                            a.button.is-transparent(href="#") Женская одежда
                        li
                            a.button.is-transparent(href="#") Детская одежда
                    .blocks-wrapper 
                        .list-block 
                            h4 Верхняя одежда
                            ul
                                li
                                    a(href="#") Футболки ПОЛО
                                li
                                    a(href="#") Лонгсливы 
                                li
                                    a(href="#") Свитшоти Регланы
                                li
                                    a(href="#") Толстовки Худи 
                                li
                                    a(href="#") Анораки Ветровки
                                li
                                    a(href="#") Спортивные штаны
                        .list-block 
                            h4 Штаны
                            ul
                                li
                                    a(href="#") Футболки ПОЛО
                                li
                                    a(href="#") Лоргсливы 
                                li
                                    a(href="#") Свитшоте Регланы
                                li
                                    a(href="#") Толстовки Худи 
                                li
                                    a(href="#") Анораки Ветровки
                                li
                                    a(href="#") Спортивные штаны
                        .list-block 
                            h4 Аксессуары
                            ul
                                li
                                    a(href="#") Футболки ПОЛО
                                li
                                    a(href="#") Лоргсливы 
                                li
                                    a(href="#") Свитшоте Регланы
                                li
                                    a(href="#") Толстовки Худи 
                                li
                                    a(href="#") Анораки Ветровки
                                li
                                    a(href="#") Спортивные штаны
            nav 
                ul
                    li 
                        a(href="about-work.html") SALE
                    li 
                        a(href="about-us.html") ОПТ
                    li 
                        a(href="about-us.html") О НАС
                    li 
                        a(href="about-us.html") ОТЗЫВЫ
                    li 
                        a(href="about-us.html") ДОСТАВКА И ОПЛАТА
                    li 
                        a(href="about-us.html") КОНТАКТЫ
            a.logo(href="/") 
                img(src="./public/images/logo.svg", alt="")
        ul.icons
            li
                a(href="#search") 
                    i.icon-search
            li
                a(href="#") 
                    i.icon-like
            li
                a(href="#") 
                    i.icon-backet
            li
                a(href="#authorization") 
                    i.icon-account