.product-item   
    img(src="./public/images/product.png", alt="")
    .decor
        img(src="./public/images/product-item.png", alt="")
        span NEW
    .body   
        .top-content    
            .stars  
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
            .size
                span S 
                span M
                span L
        h5 Футболка мужская Exclusive 22032 
        .price 245₴