.product-item
    .image-wrapper
        img.preview(src="./public/images/product.png", alt="")
        .product-label
            img(src="./public/images/product-item.png", alt="")
            span NEW
    .body   
        .interactions    
            .stars-block 
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
            .size-block
                span S 
                span M
                span L
        h5 Футболка мужская Exclusive 22032 
        .price 245₴