$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("../../public/fonts/icons/icons.ttf?d69f89afd241ab086b8d07622e80de79") format("truetype"),
url("../../public/fonts/icons/icons.woff?d69f89afd241ab086b8d07622e80de79") format("woff"),
url("../../public/fonts/icons/icons.woff2?d69f89afd241ab086b8d07622e80de79") format("woff2"),
url("../../public/fonts/icons/icons.svg?d69f89afd241ab086b8d07622e80de79#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "account": "\f101",
    "arrow-bottom": "\f102",
    "backet": "\f103",
    "email": "\f104",
    "facebook": "\f105",
    "filled": "\f106",
    "instagram": "\f107",
    "like": "\f108",
    "search": "\f109",
    "star": "\f10a",
    "twitter": "\f10b",
    "viber": "\f10c",
    "whatsapp": "\f10d",
);

.icon-account:before {
    content: map-get($icons-map, "account");
}
.icon-arrow-bottom:before {
    content: map-get($icons-map, "arrow-bottom");
}
.icon-backet:before {
    content: map-get($icons-map, "backet");
}
.icon-email:before {
    content: map-get($icons-map, "email");
}
.icon-facebook:before {
    content: map-get($icons-map, "facebook");
}
.icon-filled:before {
    content: map-get($icons-map, "filled");
}
.icon-instagram:before {
    content: map-get($icons-map, "instagram");
}
.icon-like:before {
    content: map-get($icons-map, "like");
}
.icon-search:before {
    content: map-get($icons-map, "search");
}
.icon-star:before {
    content: map-get($icons-map, "star");
}
.icon-twitter:before {
    content: map-get($icons-map, "twitter");
}
.icon-viber:before {
    content: map-get($icons-map, "viber");
}
.icon-whatsapp:before {
    content: map-get($icons-map, "whatsapp");
}
